.footer{
    position: absolute;
    bottom: 0;
}
.ant-select-item-empty .ng-star-inserted{
    display: none !important;
}
.customer-table{
    cursor:pointer;
}
.ant-drawer-content-wrapper{
    width: 500px!important;
}
.list-header {
    margin-bottom: 10px;
    top: 0;
    display: inline-block;
    width:  100%;
    background-color: #f6f6f6;
    padding: 20px;
    z-index: 101;
    box-shadow: -1px 1px 5px 1px #dfdddf;
}


.tablaCustomer tr :hover{
    background-color: rgb(146, 204, 243);
    cursor: pointer;
}