/BE/.config
/BE/.vs
/BE/Api/.vs
/BE/Api/.json
/BE/Api/wwwroot
/BE/Api/bin
/BE/Api/obj
/BE/Sdk/obj
/BE/Domain/obj
/BE/Domain/bin
/BE/Sdk/bin
/BE/Services/bin
/BE/Services/obj
/BE/Api/.config
/.vs
/BE/Api/appsettings.Development.json
/BE/Api/appsettings.Production.json
/BE/Api/appsettings.Staging.json
/BE/openssl.cnf

/FE/.vscode/