<nz-layout>
  <nz-page-header class="list-header">
    <nz-page-header-title>Recibos</nz-page-header-title>
    <nz-page-header-extra>
      <button
        *authPermission="[permissions.GetQuittance]"
        nz-tooltip
        nzTooltipTitle="Nuevo"
        nz-button
        nzType="primary"
        nzShape="circle"
       [routerLink]="['/home/quittances/new']"
      >
        <i nz-icon nzType="plus" nzTheme="outline"></i></button
      ><!-- -->
    </nz-page-header-extra>
  </nz-page-header>

  <nz-content>
    <nz-collapse>
      <app-search-custom-filter [customSearchForm]="form" (onSearchCustomClick)="search()"></app-search-custom-filter>  
    </nz-collapse>

    <!-- Tabla -->
    <div class="table">
      <nz-table class="tabla" [nzData]="dataList()" nzBordered="true" [nzLoading]="loading()" [nzSize]="'small'"
      [nzPageIndex]="1" [nzPageSize]="queryParams.pageSize" [nzTotal]="totalItems()" nzTableLayout="fixed"
      [nzFrontPagination]="false" (nzQueryParams)="onQueryParamsChange($event)" nzShowSizeChanger>
        <thead>
          <tr>
            <th>Número</th>
            <th>Fecha</th>
            <th>Cuit/Cuil</th>
            <th>Nombre</th>
            <th [nzAlign]="'center'">Total</th>
            <th [nzAlign]="'center'">Acción</th>
          </tr>
        </thead>
        <tbody>
           @for (data of dataList(); track $index) {
        <tr class="small-text" (dblclick)="onDoubleClick(data.id)">
            <td>{{ data.id | noComma }}</td>
            <td>{{ data.dateTime | datePipe}}</td>
            <td>{{ data.customerCuit | cuit }}</td>
            <td>{{ data.customerName }}</td>
            <td [nzAlign]="'right'">
              <b>{{ this.currencyFormat(data.total) }}</b>
            </td>
            <td style="text-align: center">
              <a>
                <i
                  nz-icon
                  nzType="eye"
                  style="font-size: 17px; margin-right: 20px"
                  (click)="onDoubleClick(data.id)"
                ></i>
              </a>
              <a (click)="reimprimirQuittance(data.id)">
                <i
                  nz-icon
                  nz-tooltip
                  nzTooltipTitle="Descargar pdf"
                  nzType="file-pdf"
                  nzTheme="twotone"
                  [nzTwotoneColor]="'#f5222d'"
                  style="font-size: 16px; margin-right: 2px"
                ></i>
              </a>
            </td>
          </tr>}
        </tbody>
      </nz-table>
    </div>
  </nz-content>
</nz-layout>
