.list-header {
  position: relative;
  height: 64px;
  padding: 10px;
  background: #fff;
  box-shadow: -1px 1px 5px 1px #a3a1a3;
  margin-bottom: 10px;
  }
  .table th{
    font-size: 12px; 
    position: sticky;
    top: 0; 
    padding: 6%;
    z-index: 2;
    background-color: rgb(240, 237, 237);
    
  }
  .table td{
    font-size: 12px;
    padding: 6%;
  }
  .table{
    height: 60vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: relative;
    border-collapse: collapse;
  }
  .tabla {
    width: 100%;
    table-layout: fixed;
  }
 
  
 