<app-header-op-buttons #header [btnCancelText]="'Volver'" [btnSaveText]="'Guardar'" [title]="'Recibo'"
  [iconBack]="'rollback'" [iconSave]="'save'" [iconTitle]="'container'" (onSaveClick)="msjConfirmOk()" [showBack]="true"
  [showSave]="isEditMode()" (onEditClick)="toggleEdit()" [btnEditText]="isEditMode() ? 'Cancelar' : 'Editar'"
  [disabledEdit]="id() === null" [editPermission]="permissions.CreateBudget">
</app-header-op-buttons>

<!-- Encabezado del recibo -->
<form nz-form [formGroup]="form">
  <nz-collapse>
    <nz-collapse-panel nzHeader="Encabezado" [nzActive]="true" [nzShowArrow]="true" style="font-weight: bold">
      <nz-content>
        <div nz-row nzJustify="center" style="margin: 10px;">
          <div nz-col class="gutter-row" [nzSpan]="4" style="margin-right: 5px; margin-left: 5px;">
            <nz-form-item>
              <nz-form-label nzFor="dateTime">Fecha</nz-form-label>
              <nz-form-control>
                  <nz-date-picker formControlName="dateTime" nzFormat="dd/MM/yyyy" [nzPlaceHolder]="'Fecha'"
                    ></nz-date-picker>
                  <ng-template #clearQuery>
                    @if (form.get('dateTime')?.value) {
                    <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                      (click)="form.get('dateTime')?.setValue('')"></i>}
                  </ng-template>
                </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-item>
            <nz-form-label nzFor="quittanceNumber"[nzSm]="12" [nzXs]="18" nzRequired>
              Número de Recibo
            </nz-form-label>
            <nz-form-control [nzSm]="10" [nzXs]="20">
              <input nz-input nzSize="small" formControlName="quittanceNumber" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- Datos del Cliente -->
        <nz-divider nzText="Cliente" nzOrientation="left"
          style="margin-top: 0 ; text-decoration: underline;"></nz-divider>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="14" nzRequired nzFor="customerName">Nombre</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="14">
            <input nz-input nzSize="small" formControlName="customerName" />
             @if (form.get('customerName')?.hasError('required')) {
            <ng-container>
              <span class="input-error">Campo obligatorio.</span>
            </ng-container>
            }
          </nz-form-control>
          <!-- Boton que abre el buscador de CLiente en drawer -->
          <form nz-form [formGroup]="formCustomerSearch">
            <div style="margin: 3px">
              <button nz-button nzSize="small" nzType="primary" class="ml-5" (click)="openComponentCustomer()">
                <i nz-icon nzType="search" nzTheme="outline"></i>Buscar
              </button>
            </div>
          </form>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="customerCuit">Cuit - Cuil
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="cuit">
            <input nz-input maxlength="12" nzSize="small" formControlName="customerCuit" />
            @if (form.get('customerCuit')?.hasError('required')) {
              <ng-container>
                <span class="input-error">Campo obligatorio.</span>
              </ng-container>
              }
              @if (form.get('customerCuit')?.hasError('pattern')) {
              <ng-container>
                <span class="input-error">CUIT: 11 dígitos / DNI: 8 dígitos.</span>
              </ng-container>
              }
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address">Domicilio
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input nzSize="small" maxlength="250" formControlName="address" />
          </nz-form-control>
        </nz-form-item>        

        <!-- Buscador de Producto -->
        <nz-divider nzText="Producto" nzOrientation="left" style="margin-top: 0; text-decoration: underline;"></nz-divider>
      
        <form nz-form [formGroup]="formProductSearch">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="14" nzRequired nzFor="productSearchFilter">Búsqueda de producto
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="14">
              <nz-input-group [nzSuffix]="clearQuery">
                <input nz-input formControlName="productSearchFilter" id="productSearchFilter" placeholder="Ingrese producto"
                  nzSize="small" (keydown.enter)="searchProduct(); $event.preventDefault()" autocomplete="off" />
              </nz-input-group>
      
              <ng-template #clearQuery>
                <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                  *ngIf="this.formProductSearch.controls['productSearchFilter'].value !== '' " (click)=" this.formProductSearch.controls[ 'productSearchFilter'].setValue('')
                "></i>
              </ng-template>
            </nz-form-control>
            <div nz-col style="margin: 3px">
              <button nz-button nzSize="small" nzType="primary" (click)="openComponentProduct()" class="ml-5">
                <i nz-icon nzType="search" nzTheme="outline"></i> Buscar
              </button>
            </div>
          </nz-form-item>
        </form>
      </nz-content>
    </nz-collapse-panel>
  </nz-collapse>
    <nz-collapse>
    <nz-collapse-panel nzHeader="Observación" [nzActive]="false" [nzShowArrow]="true" style="font-weight: bold">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="concept">Recibi(mos) la suma de
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea nz-input nzSize="small" maxlength="250" formControlName="concept" autocomplete="off"></textarea>
        </nz-form-control>
      </nz-form-item>       
    </nz-collapse-panel>
  </nz-collapse>
</form>

  <nz-collapse>
    <nz-collapse-panel nzHeader="Detalle" [nzActive]="true" [nzShowArrow]="true" style="font-weight: bold;">
      <nz-content>
        <nz-table [nzBordered]="true" [nzData]="dataGrid()" nzShowPagination="false" style="overflow: auto"
        [nzLoading]="isLoading()">
          <thead>
            <tr>
              <th>Código</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio Unidad</th>
              <th>SubTotal</th>
              <th [nzAlign]="'center'" nzWidth="90px">Iva</th>
              @if (isInvoiceEditable()) {
            <th>Acción</th>}
            </tr>
          </thead>
          <tbody>
            @for (data of dataGrid(); track $index) {
          <tr class="small-text">           
               <td>{{data.productCode}}</td>
            <!-- Producto -->
            <td nzBreakWord>
              @if (isInvoiceEditable()) {
              <div class="editable-cell" [hidden]="editIdProductName() === data.ownCode"
                (click)="startEditProductName(data.ownCode)">
                {{ data.productName }}
              </div>
              <input nz-input id="productName{{data.ownCode}}" name="productName{{data.ownCode}}"
                [hidden]="editIdProductName() !== data.ownCode" [(ngModel)]="data.productName"
                (ngModelChange)="changeProductName($event)" (blur)="stopEditProductName()" autocomplete="off" />
              } @else {
              <span>{{ data.productName }}</span>
              }
            </td>
            
            <!-- Cantidad -->
            <td>
              @if (isInvoiceEditable()) {
              <div class="editable-cell" [hidden]="editId() === data.ownCode" (click)="startEdit(data.ownCode)">
                {{ data.quantity }}
              </div>
              <nz-input-number [hidden]="editId() !== data.ownCode" [nzMin]="1" [nzMax]="10000"
                [(ngModel)]="data.quantity" (ngModelChange)="changeQuantity($event)" (nzBlur)="stopEdit()">
              </nz-input-number>
              } @else {
              <span>{{ data.quantity }}</span>
              }
            </td>
          
            <!-- Precio -->
            <td nzAlign="right">
              @if (isInvoiceEditable()) {
              <div class="editable-cell" [hidden]="editIdProductPrice() === data.ownCode"
                (click)="startEditProductPrice(data.ownCode)">
                {{ currencyFormat(data.price) }}
              </div>
              <nz-input-number [hidden]="editIdProductPrice() !== data.ownCode" [nzMin]="1" [(ngModel)]="data.price"
                (ngModelChange)="changeProductPrice($event)" (nzBlur)="stopEditProductPrice()">
              </nz-input-number>
              } @else {
              <span>{{ currencyFormat(data.price) }}</span>
              }
            </td>   
            <td [nzAlign]="'right'">{{ this.currencyFormat(data.subTotal) }}</td>
                   
             <!-- IVA -->
          <td>
            @if (isInvoiceEditable()) {
            <div class="editable-cell" [hidden]="editIdIva() === data.productId" (click)="startEditIva(data.productId)">
              {{ data.iva }}
            </div>
            <nz-select [hidden]="editIdIva() !== data.productId" [nzOptions]="ivaType" [(ngModel)]="data.iva"
              (ngModelChange)="changeIvaValue($event, data.productId)" (nzBlur)="stopEditIva()" [nzId]="'editIdIva'">
            </nz-select>
            } @else {
            <span>{{ data.iva }}</span>
            }
          </td>
               <!-- Acción -->
            @if (isInvoiceEditable()) {
            <td style="text-align:center">
              <nz-space [nzSplit]="spaceSplit">
                <ng-template #spaceSplit>
                  <nz-divider nzType="vertical"></nz-divider>
                </ng-template>
                <a *nzSpaceItem (click)="popup.showDeleteConfirmation(data.ownCode)">
                  <i nz-tooltip nzTooltipTitle="Eliminar" nz-icon nzType="delete" [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#FF0000'"></i>
                </a>
              </nz-space>
            </td>}
            </tr>}
          </tbody>
          <tfoot style="background-color: #fafafa">
            <tr>
              <td colspan="5"></td>            
              <td colspan="1">
                <b>Total </b><b style="color: red; font-size: 15px;">{{ this.currencyFormat(total()) }}</b>
              </td>
              @if (isInvoiceEditable()) {
                   <td colspan="2" [nzAlign]="'right'">
              <button id="actualizarbutton" nz-button nzSize="large" style="background-color: #24ce41"
                (click)=" msjConfirmOk()">
                <i nz-icon nzType="save" nzTheme="outline"></i>Grabar
              </button>
              </td>}
            </tr>
          </tfoot>
        </nz-table>
      </nz-content>
    </nz-collapse-panel>
  </nz-collapse>



<app-popup-confirmation #pop [title]="'Confirmar Guardado de comprobante'"
  [header]="'¿Está seguro que desea guardar el comprobante?'" [message]="'Esta acción no se puede revertir'"
  (handleOk)="save()" [disabled]="isSaving()">
</app-popup-confirmation>

<app-popup-confirmation #popup [title]="'Confirmar eliminación'"
  [header]="'¿Está seguro que desea eliminar el producto seleccionado?'" [message]="'Esta acción no se puede revertir'"
  (handleOk)="handleOk()">