.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  height: auto;
  width: 150px;
  max-width: fit-content;
  transform: scale(1.35);
  align-items: center;
}

button{
  display: block;
  margin: 0 auto;
}